<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
      <add name="StockInventory" connectionString="Data Source=10.128.140.13;Initial Catalog=StockInventory;Uid=sa;Pwd=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings >
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
